<script type="text/javascript" src="js/addons/color_options/colorpicker.js"></script>
<script type="text/javascript" src="js/addons/color_options/eye.js"></script>
<script type="text/javascript" src="js/addons/color_options/utils.js"></script>
<script type="text/javascript" src="js/addons/color_options/layout.js?ver=1.0.2"></script>